body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Top bar */
.sony__bar img {
  max-width: 5rem;
  min-height: 30px;
}

.navbar {
  font-family: Helvetica, sans-serif;
}

/* Jumbotrons */
section.header-jumbo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

section.header-jumbo .row {
  margin-top: 20rem;
}

section.bg-first-game {
  background-image: url("../img/jumbo-bg.png");
}
section.bg-second-game {
  background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}

section.header-jumbo .first__game__logo {
  max-width: 45%;
}
section.header-jumbo .second__game__logo {
  max-width: 38%;
}

.thumbnail:hover {
  border: 3px solid red;
}

/* New releases section */
.new__releases .row p {
  font-size: 0.9rem;
  padding-top: 0.5rem;
}

/* PlayStation Plus section background */
.psplus {
  background-color: #bebcbb;
}

/* PlayStation Now section background */
.psnow {
  background-color: #141c3d;
}

.psplus__logo {
  max-width: 70%;
}
.psnow__logo {
  max-width: 70%;
}

/* Footer */
footer {
  background-color: #0044a2;
}

footer ul {
  list-style-type: none;
}
