.sony__bar img {
  max-width: 5rem;
  min-height: 30px;
}

/* nav ul li {
  font-family: Helvetica, sans-serif;
} */

section.header-jumbo {
  height: 600px;
  background-color: salmon;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

section.bg-first-game {
  background-image: url("../img/jumbo-bg.png");
}
section.bg-second-game {
  background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}

section.header-jumbo .first__game__logo {
  max-width: 45%;
}
section.header-jumbo .second__game__logo {
  max-width: 38%;
}
